.data-table {
    margin: 2rem auto;
    max-width: 100%;
    background-color: #2A2D3E !important;
    color: #ffffff;
}

.data-table .card {
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.data-table .table {
    margin: 0;
    width: 100%;
}

.data-table th, 
.data-table td {
    text-align: center;
    padding: 10px;
    background-color: #343a40 !important;
    color: #ffffff;
}

.data-table th {
    background-color: #495057 !important;
    font-weight: bold;
}

.data-table .expanded-table {
    margin-top: 1rem;
}

.data-table .row {
    cursor: pointer;
    transition: background-color 0.3s;
}

.data-table .row:hover {
    background-color: rgba(53, 162, 235, 0.3);
}

.data-table .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.scrollable-table {
    max-height: 400px;
    overflow-y: auto;
}

.scrollable-table::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.scrollable-table {
    scrollbar-width: none;
}
